@use "../../../styles.scss";

.main-page-container {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - styles.$header-height - 4px);
  justify-content: space-between;
  overflow: hidden;
  background-image: url("../../../assets/img/mslu-logo-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

app-contents {
  justify-self: flex-end;
}

app-view {
  flex-grow: 1;
}
