.view {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 50px;

  h1 {
    margin-top: 1rem;
  }

  &__h1-input {
    font-size: 1.5rem;
  }
}

.h1-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-icon {
  transition: transform 0.2s;
  width: 26px;
  height: 26px;
  font-size: 26px;
  color: #60626f;
  cursor: pointer;

  &-edit {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
