<div #refElementSlider class="slider-container" appFsListener *ngIf="toolDescriptionId">
  <gallery
    [id]="toolDescriptionId"
    [items]="images"
    [counter]="false"
    [dots]="true"
    [dotsSize]="22"
    loadingStrategy="lazy"
    [loop]="false"
    thumbPosition="left"
    [ngClass]="{ slider_fullscreen: (currentlyInFullscreen$ | async) }"
    (indexChange)="indexChangeHandler($event)"
  ></gallery>

  <div class="fullscreen-buttons">
    <mat-icon
      class="fs-icon"
      *ngIf="!(currentlyInFullscreen$ | async)"
      appFullscreen
      [isGlobalEditOn]="isGlobalEditOn$ | async"
      [elementToGoFull]="refElementSlider"
      [currentlyInFullscreen]="currentlyInFullscreen$ | async"
      >fullscreen</mat-icon
    >
    <mat-icon
      class="fs-icon"
      *ngIf="currentlyInFullscreen$ | async"
      appFullscreen
      [isGlobalEditOn]="isGlobalEditOn$ | async"
      [elementToGoFull]="refElementSlider"
      [currentlyInFullscreen]="currentlyInFullscreen$ | async"
      >fullscreen_exit</mat-icon
    >
  </div>
</div>

<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  cdkDropListOrientation="horizontal"
  class="drop-list"
  *ngIf="isGlobalEditOn$ | async"
>
  <div
    class="drag-item"
    *ngFor="let image of images; let i = index"
    cdkDrag
    [ngClass]="{ 'drag-item__selected': i === currentIndex }"
  >
    <mat-icon class="delete-icon" [@animate]="i === newInsertionIndexForAnimation">delete</mat-icon>
    <img [src]="image.data.src" (click)="setImage(i)" />
    <div *cdkDragPreview>
      <img [src]="image.data.src" />
    </div>
    <div *cdkDragPlaceholder>
      <img [src]="image.data.src" />
    </div>
  </div>
</div>

<!--Touch zone to open fullscreen by clicking on the image;
  this feature is most likely superfluous and should be deleted-->
<!-- [itemTemplate]="itemTemp" -->
<!-- <ng-template #itemTemp>
  <div
    class="fullscreen-zone"
    appFullscreen
    [isGlobalEditOn]="isGlobalEditOn$ | async"
    [elementToGoFull]="refElementSlider"
    [currentlyInFullscreen]="currentlyInFullscreen$ | async"
  ></div>
</ng-template> -->
