$mslu: (
  50: #e3ecf3,
  100: #b9cfe1,
  200: #8ab0cd,
  300: #5b90b8,
  400: #3778a9,
  500: #14609a,
  600: #125892,
  700: #0e4e88,
  800: #0b447e,
  900: #06336c,
  A100: #9dc2ff,
  A200: #6aa2ff,
  A400: #3783ff,
  A700: #1d73ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mslu-light: (
  50: #fbfcfd,
  100: #f5f8fa,
  200: #eef3f7,
  300: #e7eef4,
  400: #e2eaf1,
  500: #dde6ef,
  600: #d9e3ed,
  700: #d4dfeb,
  800: #cfdbe8,
  900: #c7d5e4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
