@use "@angular/material" as mat;
@use "../../../styles.scss";

.tools {
  opacity: 0.6;
  position: relative;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: mat.get-color-from-palette(styles.$Builder-accent, 300);
  padding: 40px 0 20px 0;
  transition: 0.4s;
  cursor: pointer;

  &-icon {
    transition: transform 0.2s;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #60626f;

    &:hover {
      transform: scale(1.1);
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
}
