@use "@angular/material" as mat;
@use "./constants/_palette" as palette;
@include mat.core();

@import "~quill/dist/quill.snow.css";

$Builder-primary: mat.define-palette(palette.$mslu);
$Builder-accent: mat.define-palette(palette.$mslu-light);
$Builder-warn: mat.define-palette(mat.$red-palette, 800);
$Builder-theme: mat.define-light-theme(
  (
    color: (
      primary: $Builder-primary,
      accent: $Builder-accent,
      warn: $Builder-warn,
    ),
  )
);

@include mat.all-component-themes($Builder-theme);

$main-blue: #14609a;
$light-blue: #dde6ef;
$bg-light: #ffffff;

$header-height: 60px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.add-page-dialog {
  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }

  .mat-dialog-container {
    padding: 1rem 2rem 2rem 2rem;
    margin: 1rem;
    overflow: hidden;
  }
}

.delete-page-dialog {
  .mat-dialog-content {
    padding: 1rem;
    overflow: hidden;
  }
}

app-view,
app-text,
app-collage,
app-pdf,
app-video,
app-audio,
app-slider {
  width: 100%;
  margin-bottom: 40px;
}

app-collage,
app-audio,
app-pdf,
app-video {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-images {
  .mat-radio-container {
    display: none;
  }

  .mat-radio-checked {
    border-left: 5px solid $main-blue;
  }

  .mat-radio-label-content {
    display: flex;
  }

  .mat-radio-label {
    white-space: normal;
  }
}

.choose-file-dialog {
  .mat-dialog-content {
    overflow: hidden;
  }
}

//################ Quill editor #####################

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

quill-editor {
  display: block !important; //otherwise it does not stretch 100% of the page
}

.ql-editor {
  font-family: "Times New Roman";
}

.hide-toolbar {
  .ql-container {
    border: none;
  }
  .ql-toolbar {
    display: none;
  }
}

.ql-snow .ql-picker.ql-font {
  //the width of the font picker (default is too small)
  width: 200px;
}

$text-editor-fonts: "Times_New_Roman", "Franklin_Gothic_Medium", "Arial", "Verdana", "Tahoma",
  "Trebuchet_MS", "Georgia", "Garamond", "Courier_New", "Brush_Script_MT";

$text-editor-sizes: "8px", "9px", "10px", "12px", "14px", "16px", "20px", "24px", "32px", "42px",
  "54px", "68px", "84px", "98px";

@each $text-editor-font in $text-editor-fonts {
  $restored-font-name: str-replace($text-editor-font, "_", " ");
  //Font change for the text
  .ql-font-#{$text-editor-font} {
    font-family: $restored-font-name;
  }
  //Font change for the label in the pick list
  span[data-value="#{$text-editor-font}"] {
    font-family: $restored-font-name;
    &::before {
      content: $restored-font-name !important;
    }
  }
}

.snackbar-center .mat-simple-snackbar {
  justify-content: center;
}

@each $text-editor-size in $text-editor-sizes {
  span[data-value="#{$text-editor-size}"] {
    &::before {
      font-size: $text-editor-size !important;
      content: $text-editor-size !important;
    }
  }
}

@media screen and (max-width: 640px) {
  app-contents {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba($color: mat.get-color-from-palette($Builder-accent, 50), $alpha: 0.97);
  }
}
